.App {
   aspect-ratio: 1/1;
   text-align: center;
   background-image: url(https://p4.wallpaperbetter.com/wallpaper/851/696/956/tv-show-rick-and-morty-minimalist-rick-sanchez-hd-wallpaper-preview.jpg);
}
